<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ROS Web Dashboard</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>ROS Web Dashboard</h1>

    <div class="container">
        <div class="row">
            <h2> Forward Kinematics </h2>
        </div>
        <div class="row">
            <p> DH Parameters </p>
        </div>
        <div class="row">
            <div class="col-sm">
                <form action="/" method="POST">
        <div class="form-group row">
            <label for="theta" class="col-sm-2 col-form-label">theta</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="theta" name="theta" value="{{ request.form['theta'] }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="L" class="col-sm-2 col-form-label">L</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="L" name="L" value="{{ request.form['L'] }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="d" class="col-sm-2 col-form-label">d</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="d" name="d" value="{{ request.form['d'] }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="a" class="col-sm-2 col-form-label">a</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="a" name="a" value="{{ request.form['a'] }}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Set parameters</button>
    </form>
            </div>
            <div class="col-sm">
                <table class="table">
        <thead>
            <tr>
                <th scope="col">i</th>
                <th scope="col">theta[i]</th>
                <th scope="col">L[i-1]</th>
                <th scope="col">d[i]</th>
                <th scope="col">a[i-1]</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(theta|length) %}
            <tr>
                <th scope="row"> {{ i + 1 }} </th>
                <td> {{ theta[i] }} </td>
                <td> {{ L[i] }} </td>
                <td> {{ d[i] }} </td>
                <td> {{ a[i] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            </div>
        </div>

        <div class="row">
            <h2> Inverse Kinematics </h2>
        </div>
    </div>
</body>
</html>